{% extends "base.html" %}

{% block title %}
    <title>Добавить задачу</title>
{% endblock %}

{% block main %}

    <div class="container">
        <form method="post" class="row g-3 justify-content-center">
            <fieldset class="col-sm-6">
                <div class="mb-3">
                    <label for="taskTitle" class="form-label">Создать новую задачу</label>
                    <input type="text" name="task_title" class="form-control" id="taskTitle"
                           placeholder="Новая задача">
                </div>
                <div class="mb-3">
                    <label for="taskDescription" class="form-label">Описание задачи</label>
                    <textarea name="task_description" class="form-control" id="taskDescription" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Создать</button>
            </fieldset>
        </form>
    </div>

{% endblock %}