<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}{% endblock %}

    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <script src="{{ url_for("static", filename="js/bootstrap.bundle.min.js") }}"></script>
</head>
<body>

    <div class="container bg-primary bg-gradient bg-opacity-25">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="{{ url_for("static", filename="img/tasks.png") }}" alt="" width="40" height="32">
                <span class="fs-4">Список задач</span>
            </a>

            <ul class="nav nav-pills">
{#                <li class="nav-item"><a href="/" class="nav-link">Список задач</a></li>#}
                <li class="nav-item"><a href="/add" class="nav-link">Добавить задачу</a></li>
            </ul>
    </header>
    </div>

    {% block main %}

    {% endblock %}

    <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>

</body>
</html>